<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <script type="text/javascript" src="/js/hrefConfirm.js" th:src="@{/js/hrefConfirm.js}"/>
        <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
        <title>SAPE</title>
    </head>
    <body>
        <div th:replace="templates :: menuAlumno"/>
		<div class="content1">
			<h1>Mi Asignación</h1>
			<div th:if="${assignment != null}">
				<table class="table" >
					<tr>
						<td>Proyecto:</td>
						<td th:text="${assignment.ofertaProyecto.titulo}"/>
					</tr>
					<tr>
						<td>Objetivo:</td>
						<td th:text="${assignment.ofertaProyecto.objetivo}"/>
					</tr>
					<tr>
						<td>Profesor Tutor:</td>
						<td th:text="${assignment.profesorTutor.nombre}"/>
					</tr>
					<tr>
						<td>Email (Tutor):</td>
						<td th:text="${assignment.profesorTutor.email}"/>
					</tr>
					<tr>
						<td>Departamento (Tutor):</td>
						<td th:text="${assignment.profesorTutor.departamento}"/>
					</tr>
					<tr>
						<td>Despacho (Tutor):</td>
						<td th:text="${assignment.profesorTutor.despacho}"/>
					</tr>
					<tr>
						<td>Empresa:</td>
						<td th:text="${assignment.empresa.nombre}"/>
					</tr>
					<tr>
						<td>Persona Contacto:</td>
						<td th:text="${assignment.personaContacto.nombre}"/>
					</tr>
					<tr>
						<td>Email Persona Contacto:</td>
						<td th:text="${assignment.personaContacto.email}"/>
					</tr>
					<tr>
						<td>Descripcion Practicas (Persona de Contacto):</td>
						<td th:text="${assignment.personaContacto.descripcionPracticas}"/>
					</tr>
				</table>
				<div class="enlaces1" th:if="${assignment.estado != T(es.uji.ei1027.sape.enums.EstadoAsignacion).ACEPTADA}">
					<input class="addOferta" type="button" name="boton" value="Rechazar" th:onclick="'hrefConfirm(\'/assignments/' + ${assignment.id} + '/reject\', \'¿Seguro que quiere rechazar esta asignación?\')'"/>
					<input class="addOferta" type="button" name="boton" value="Aceptar" th:onclick="'hrefConfirm(\'/assignments/' + ${assignment.id} + '/accept\', \'¿Seguro que quiere aceptar esta asignación?\')'"/>
				</div>
			</div>
			<div th:if="${assignment == null}">
				<h2>No tienes ninguna asignacion...</h2>
			</div>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
