<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <script th:inline="javascript">
    		/*<![CDATA[*/
    		var currSelectID;
        	var lastOrderIDs = [];
        	var lastIDOrders = {};
        	var totalOffers = [[${preferencesContainer.preferences.size()}]];
    		for (currIndex = 0; currIndex < totalOffers; currIndex++)
			{
				currSelectID = "preferences" + currIndex + ".orden";
				lastIDOrders[currSelectID] = currIndex;
				lastOrderIDs.push(currSelectID);
			}
   		    /*]]>*/
    	</script>
        <script type="text/javascript" src="/js/unsavedChangesReminder.js" th:src="@{/js/unsavedChangesReminder.js}"/>
    	<script type="text/javascript" src="/js/linkPreferencesOrder.js" th:src="@{/js/linkPreferencesOrder.js}"/>
        <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
        <title>SAPE</title>
    </head>
    <body>
        <div th:replace="templates :: menuAlumno"/>
		<div class="content1">
			<h1>Mis preferencias</h1>
			<form id="preferencesForm" method="POST" th:action="@{/offerPreferences/update}" th:object="${preferencesContainer}" onsubmit="unsavedChanges = false;">
				<label>Semestre inicio estancia:</label>
				<select th:field="*{internshipSemester}" onchange="unsavedChanges = true;">
					<option value="1">Primero</option>
					<option value="2">Segundo</option>
				</select>
				<div th:if="${!hasAssignment}">
					<table class="list"
					 th:if="${!preferencesContainer.isEmpty()}">
						<tr>
							<th>Proyecto</th>
							<th>Empresa</th>
							<th>Orden</th>
							<th>Eliminar</th>
						</tr>
						<tr th:each="currPreference, currPrefKey : *{preferences}">
							<input type="hidden" th:field="*{preferences[__${currPrefKey.index}__].id}"/>
							<td th:text="${currPreference.ofertaProyecto.titulo}"/>
							<td th:text="${currPreference.empresa.nombre}"/>
							<td>
								<select th:field="*{preferences[__${currPrefKey.index}__].orden}" onchange="handleOrderChange(this); unsavedChanges = true;">
									<option th:each="currNumber: ${#numbers.sequence(1, preferencesContainer.preferences.size())}"
											th:value="${currNumber}" th:text="${currNumber}"/>
								</select>
							</td>
							<td><input type="checkbox" th:field="*{selectedPreferences}" th:value="${currPreference.id}" onchange="unsavedChanges = true;"/></td>
						</tr>
					</table>
					<div th:if="${preferencesContainer.isEmpty()}">
						<br/>
						<h2>No tienes ofertas preferentes...</h2>
					</div>
				</div>
				<div th:if="${hasAssignment}">
					<br/>
					<h2>No puedes modificar tus ofertas preferentes mientras tengas una asignación activa</h2>
				</div>
				<input type="submit" value="Aplicar cambios" class="button3"/>
			</form>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
