<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuAlumno"/>
		<div class="content1">
			<h1>Información Oferta</h1>
			<table th:replace="templates :: infoOferta"/>
			<input class="addOferta" type="button" name="boton" value="Añadir a preferencias" th:onclick="'location.href=\'/offerPreferences/add/' + ${offer.id} + '\''"/>
			
			<!--location.href=/offerPreferences/add/' + offer.id + ');'}"/> -->
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
