<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1 th:text="${action + ' profesor'}"/>
			<form method="POST" th:action="@{/teachers{target}( target=${target} )}" th:object="${teacher}">
				<table class="table">
					<tr>
						<td class="register">Nombre</td>
						<td><input type="text" th:field="*{nombre}"/></td>
						<td class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
					</tr>
					<tr>
						<td class="register">Departamento</td>
						<td><input type="text" th:field="*{departamento}"/></td>
						<td class="error" th:if="${#fields.hasErrors('departamento')}" th:errors="*{departamento}"/>
					</tr>
					<tr>
						<td class="register">Despacho</td>
						<td><input type="text" th:field="*{despacho}"/></td>
						<td class="error" th:if="${#fields.hasErrors('despacho')}" th:errors="*{despacho}"/>
					</tr>
					<tr>
						<td class="register">Email</td>
						<td><input type="text" th:field="*{email}"/></td>
						<td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
					</tr>
					<tr>
						<td><input type="submit" th:value="${action + ' profesor'}" class="button2"/></td>
						<td><input th:replace="templates :: botonRestablecer"/></td>
					</tr>
				</table>
				
			</form>
			
		</div>
		<input type="button" class = "izquierda" onclick=" location.href='/teachers' " value="Atras" name="boton" /> 
        <div th:replace="templates :: footer"/>
	</body>
</html>
