<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1>Lista de tutores</h1>
			<table class="list">
				<tr>
					<th>Nombre</th>
					<th>Departamento</th>
					<th>Despacho</th>
					<th>Email</th>
					<th colspan="2">Action</th>
				</tr>
				<tr th:each="currTeacher : ${teachers}">
					<td th:text="${currTeacher.nombre}"/>
					<td th:text="${currTeacher.departamento}"/>
					<td th:text="${currTeacher.despacho}"/>
					<td th:text="${currTeacher.email}"/>
					<td><a th:href="@{/teachers/{id}( id=${currTeacher.id} )}">Editar</a></td>
					<td><a th:href="@{/teachers/{id}/delete( id=${currTeacher.id} )}" onclick="return confirm('¿Desea eliminar la oferta?')">Eliminar</a></td>
				</tr>
			</table>
			<input type="button" class = "addOferta" onclick=" location.href='/teachers/add' " value="A&ntilde;adir tutor" name="boton" /> 
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
