<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuEmpresa"/>
		<div class="content1">
			<h1 th:text="${action + ' offer'}"/>
			<form method="POST" th:action="@{/offers{target}( target=${target} )}" th:object="${offer}">
				<table class="table">
					<tr>
						<td class="register">Titulo</td>
						<td><input type="text" th:field="*{titulo}"/></td>
					</tr>
					<tr>
						<td class="register">Objetivo</td>
						<td><textarea th:field="*{objetivo}"/></td>
					</tr>
					<tr>
						<td class="register">Itinerario</td>
						<td>
							<select th:field="*{itinerario}">
								<option th:each="currItinerary : ${T(es.uji.ei1027.sape.enums.Itinerario).values()}"
										th:value="${currItinerary}" th:text="${currItinerary.name}"/>
							</select>
						</td>
					</tr>
					<tr>
						<td class="register">Persona de contacto</td>
						<td>
							<select th:field="*{idPersonaContacto}">
								<option th:each="currContactPerson : ${contactPersons}"
										th:value="${currContactPerson.id}" th:text="${currContactPerson.nombre}"/>
							</select>
						</td>
					</tr>
					<tr>
						<td class="register"><input type="submit" th:value="${action + ' offer'}" class="button2"/></td>
						<td><input type="reset" value="Clear data" class="button2" onclick="return confirm('Do you want to clear your data?')"/></td>
					</tr>
				</table>
			</form>
		</div>
		
		<div th:replace="templates :: listaPeticionCambios"/>
		
        <div th:replace="templates :: footer"/>
	</body>
</html>
