<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuEmpresa"/>
		<div class="content1">
			<h1>Lista de ofertas</h1>
			<table class="list">
				<tr>
					<th>Numero</th>
					<th>Titulo</th>
					<th>Estado</th>
					<th>Itinerario</th>
					<th colspan="3">Action</th>
				</tr>
				<tr th:each="currOffer : ${offers}">
					<td th:text="${currOffer.numero}"/>
					<td th:text="${currOffer.titulo}"/>
					<td th:text="${currOffer.estado.getName()}"/>
					<td th:text="${currOffer.itinerario.getName()}"/>
					<td>
						<a th:href="@{/offers/{id}( id=${currOffer.id} )}" th:text="Editar"
						   th:if="${T(es.uji.ei1027.sape.ThymeUtils).canEditOffer(currOffer)}"/>
						<a class="disabledLink" th:text="Editar"
						   th:if="${!T(es.uji.ei1027.sape.ThymeUtils).canEditOffer(currOffer)}"/>
					</td>
					<td>
						<a th:href="@{/offers/{id}/delete( id=${currOffer.id} )}" onclick="return confirm('Seguro que quieres eliminar esta oferta?')" th:text="Eliminar"
						   th:if="${T(es.uji.ei1027.sape.ThymeUtils).canDeleteOffer(currOffer)}"/>
						<a th:href="@{/offers/{id}/cancel( id=${currOffer.id} )}" onclick="return confirm('Seguro que quieres anular esta oferta?')" th:text="Anular"
						   th:if="${T(es.uji.ei1027.sape.ThymeUtils).canCancelOffer(currOffer)}"/>
						<a class="disabledLink" th:text="Anular"
						   th:if="${currOffer.estado == T(es.uji.ei1027.sape.enums.EstadoOferta).PENDIENTE_ANULACION}"/>
					</td>
				</tr>
			</table>
			<input type="button" class = "addOferta" onclick=" location.href='/offers/add' " value="A&ntilde;adir oferta" name="boton" /> 
			
			 <div th:replace="templates :: footer"/>
		</div>
       
	</body>
</html>
