<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuEmpresa"/>
		<div class="content1">
			<h1>Lista de ofertas</h1>
			<table class="list">
				<tr>
					<th>Numero</th>
					<th>Tarea</th>
					<th>Objetivo</th>
					<th>Estado</th>
					<th>Itinerario</th>
					<th>FechaAlta</th>
					<th>FechaUltimoCambio</th>
					<th colspan="2">Action</th>
				</tr>
				<tr th:each="currOffer : ${offers}">
					<td th:text="${currOffer.numero}"/>
					<td th:text="${currOffer.titulo}"/>
					<td th:text="${currOffer.objetivo}"/>
					<td th:text="${currOffer.estado.getName()}"/>
					<td th:text="${currOffer.itinerario.getName()}"/>
					<td th:text="${currOffer.fechaAlta}"/>
					<td th:text="${currOffer.fechaUltimoCambio}"/>
					<td><a th:href="@{/offers/{id}( id=${currOffer.id} )}">Edit</a></td>
					<td><a th:href="@{/offers/{id}/delete( id=${currOffer.id} )}" onclick="return confirm('Do you want to delete this offer?')">Delete</a></td>
				</tr>
			</table>
			<input type="button" class = "addOferta" onclick=" location.href='/offers/add' " value="A&ntilde;adir oferta" name="boton" /> 
			
			 <div th:replace="templates :: footer"/>
		</div>
       
	</body>
</html>
