<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
		<div class="content">
			<h1>Mi Asignacion</h1>
			<div th:if="${assignment != null}">
				<table class="list" >
					<tr>
						<td>Proyecto =></td>
						<td th:text="${assignment.ofertaProyecto.tarea}"/>
					</tr>
					<tr>
						<td>Objetivo =></td>
						<td th:text="${assignment.ofertaProyecto.objetivo}"/>
					</tr>
				</table>
				<div th:if="${assignment.estado != T(es.uji.ei1027.sape.enums.EstadoAsignacion).ACEPTADA}">
					<a th:href="@{/assignments/{id}/accept( id=${assignment.id} )}" onclick="return confirm('Seguro que quiere aceptar esta asignación?')">Aceptar</a>
					<a th:href="@{/assignments/{id}/reject( id=${assignment.id} )}" onclick="return confirm('Seguro que quiere rechazar esta asignación?')">Rechazar</a>
					<!-- TODO: Añadir posibilidad de añadir "comentario cambio" -->
				</div>
			</div>
			<div th:if="${assignment == null}">
				<h2>No tienes ninguna asignacion...</h2>
			</div>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
