<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1>Información Empresa</h1>
			<table class="table">
				<tr>
					<td>CIF:</td>
					<td th:text="${company.cif}"/>
				</tr>
				<tr>
					<td>Nombre:</td>
					<td th:text="${company.nombre}"/>
				</tr>
				<tr>
					<td>Domicilio:</td>
					<td th:text="${company.domicilio}"/>
				</tr>
				<tr>
					<td>TelefonoPersonal:</td>
					<td th:text="${company.telefonoPersonal}"/>
				</tr>
			</table>
			<h1>Personas de contacto</h1>
			<table class="list">
				<tr>
					<th>Nombre</th>
					<th>Email</th>
				</tr>
				<tr th:each="currContactPerson : ${contactPersons}">
					<td th:text="${currContactPerson.nombre}"/>
					<td th:text="${currContactPerson.email}"/>
				</tr>
			</table>
			<h1>Proyectos</h1>
			<table class="list">
				<tr>
					<th>Titulo</th>
					<th>Itinerario</th>
					<th>Estado</th>
					<th>FechaAlta</th>
					<th>FechaUltimoCambio</th>
					<th>Acción</th>
				</tr>
				<tr th:each="currOffer : ${offers}">
					<td th:text="${currOffer.titulo}"/>
					<td th:text="${currOffer.itinerario.getName()}"/>
					<td th:text="${currOffer.estado.getName()}"/>
					<td th:text="${currOffer.fechaAlta}"/>
					<td th:text="${currOffer.fechaUltimoCambio}"/>
					<td><a th:href="@{/offers/{id}( id=${currOffer.id} )}">Ver oferta</a></td>
				</tr>
			</table>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
