<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuEmpresa"/>
		<div class="content1">
			<h1 th:text="${action + ' persona de contacto'}"/>
			<form method="POST" th:action="@{/contactPersons{target}( target=${target} )}" th:object="${contactPerson}">
				<table class="table">
					<tr>
						<td class="register">Nombre</td>
						<td class="inputs"><input type="text" th:field="*{nombre}" class="textoCentrar" placeholder="Nombre de contacto"/></td>
						
						<td class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
					
					</tr>
					<tr>
						<td class="register">Email</td>
						<td class="inputs"><input type="text" th:field="*{email}" class="textoCentrar" placeholder="Ejem: sape@uji.es"/></td>
						<td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
					</tr>
					<tr>
						<td class="register">Descripción</td>
						<td class="inputs"><textarea th:field="*{descripcionPracticas}" class="medio"/></td>
						<td class="error" th:if="${#fields.hasErrors('descripcionPracticas')}" th:errors="*{descripcionPracticas}"/>
					</tr>
					<tr>
						<td ></td>
						<td class="inputs"><input type="submit" th:value="${action + ' contacto'}" class="button2"/><input th:replace="templates :: botonRestablecer"/></td>
						
					</tr>
				</table>
			</form>
		</div>
		<input type="button" class = "izquierda" onclick=" location.href='/contactPersons' " value="Atras" name="boton" /> 
        <div th:replace="templates :: footer"/>
	</body>
</html>
