<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuEmpresa"/>
		<div class="content1">
			<h1>Personas de contacto</h1>
			<table class="list">
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th colspan="2">Acción</th>
				</tr>
				<tr th:each="currContactPerson : ${contactPersons}">
					<td th:text="${currContactPerson.nombre}"/>
					<td th:text="${currContactPerson.email}"/>
					<td><a th:href="@{/contactPersons/{id}( id=${currContactPerson.id} )}">Editar</a></td>
					<td><a th:href="@{/contactPersons/{id}/delete( id=${currContactPerson.id} )}" onclick="return confirm('¿Seguro que quieres eliminar esta persona de contacto?')">Eliminar</a></td>
				</tr>
			</table>
			<input class="addOferta" type="button" name="boton" value="Añadir contacto" onclick="location.href='/contactPersons/add'"/> 
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
