<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1>Lista de asignaciones</h1>
			<table class="list"
			 th:if="${!assignments.isEmpty()}">
				<tr>
					<th>Alumno</th>
					<th>Proyecto</th>
					<th>Empresa</th>
					<th>Estado</th>
					<th>Profesor Tutor</th>
					<th colspan="2">Acción</th>
				</tr>
				<tr th:each="currAssignment : ${assignments}">
					<td th:text="${currAssignment.alumno.nombre}"/>
					<td th:text="${currAssignment.ofertaProyecto.titulo}"/>
					<td th:text="${currAssignment.empresa.nombre}"/>
					<td th:text="${currAssignment.estado.getName()}"/>
					<td th:text="${currAssignment.profesorTutor.nombre}"/>
					<td><a th:href="@{/assignments/{id}( id=${currAssignment.id} )}">Ver asignación</a></td>
					<td th:if="${session.user.esSuperAdmin()}">
						<a th:href="@{/assignments/{id}/cancel( id=${currAssignment.id} )}" th:text="Anular" onclick="return confirm('¿Seguro que quieres anular esta asignación?')"
						   th:if="${T(es.uji.ei1027.sape.ThymeUtils).canCancelAssignment(currAssignment)}"/>
						<a class="disabledLink" th:text="Anular"
						   th:if="${!T(es.uji.ei1027.sape.ThymeUtils).canCancelAssignment(currAssignment)}"/>
					</td>
					<td th:if="${!session.user.esSuperAdmin()}"/>
				</tr>
			</table>
			<div th:if="${assignments.isEmpty()}">
				<h2>No existen asignaciones</h2>
			</div>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
