<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1>Lista de alumnos pendientes</h1>
			<table class="list">
				<tr>
					<th>DNI</th>
					<th>Nombre</th>
					<th>Nota Media</th>
					<th>Itinerario</th>
					<th>Acción</th>
				</tr>
				<tr th:each="currStudent : ${students}">
					<td th:text="${currStudent.dni}"/>
					<td th:text="${currStudent.nombre}"/>
					<td th:text="${currStudent.notaMedia}"/>
					<td th:text="${currStudent.itinerario.getName()}"/>
					<td><a th:href="@{/students/{id}/assign( id=${currStudent.id} )}">Realizar asignacion</a></td>
				</tr>
			</table>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
