<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <head th:replace="templates :: head"/>
    <body>
   
        <div th:replace="templates :: header"/>
        <div class="about">
            <h1>Acerda de</h1>
            <p class="p"><br/>"SAPE" es un proyecto ideado por la universidad JAUME I y desarrollado por un grupo de estudiantes llamado "EI102717BGM".</p><br/>
            
            <h2 class="leftTitle">Apuntamos a ...</h2>
            <p class="leftText">Facilitar a la empresa la creación de ofertas, al btc la asignación de tutores y aceptación y por último a los estudiantes poder crear una preferencia de las ofertas.</p>
            
            <h2 class="rightTitle">Nosotros lo hacemos ...</h2>
            <p class="rightText"> A través de una aplicación web en la que las empresas se registran y
 publican sus ofertas, los administradores de la web "BTC" gestionan todas las ofertas y los alumnos solo puede 
realizar preferencias y ordenarlas para que se les asigne una oferta.</p>
            <h2 class="leftTitle">¿Quién lo puede hacer?</h2>
            <p class="leftText">Todas las empresas que esten registradas en el IGLU y colaboren con la Universidad.</p>
        </div>
        <div th:replace="templates :: footer"/>
    </body>
</html>
