<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
        <div class="about">
            <h1>About</h1>
            <p class="p"><br/>"Skill Sharing" is a project devised by the UJI's Student Council and developed by a group of students called "EI102716GGV".</p><br/>
            
            <h2 class="leftTitle">We aim to ...</h2>
            <p class="leftText">Encourage collaboration and mutual support among university students in different academic fields.</p>
            
            <h2 class="rightTitle">We do it ...</h2>
            <p class="rightText">Through a web application in which users register and publish their offers for help or help needs by selecting one of the academic fields available for each publication and a time interval.</p>
            
            <h2 class="leftTitle">Who can do it?</h2>
            <p class="leftText">Any person who is enrolled in any course of the UJI, whether of degree, master or doctorate.</p>
        </div>
        <div th:replace="templates :: footer"/>
    </body>
</html>
