<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
        <div class="content1">
            <h1>Iniciar sesión</h1>
            <form method="POST" action="" th:action="@{/login}" th:object="${login}">
                <table class="table1">
                    <tr>
                    	<td class="register"><label>Usuario:</label></td>
                        <td>
                        	<input class="alargar" type="text" th:field="*{email}" pattern="\w+" placeholder="Usuario" maxlength="20"/> 
                       	</td>
                    </tr>
                    <tr class="tdError" th:if="${#fields.hasErrors('email')}">
                    	<td class="tdError"/>
                    	<td class="tdError" th:errors="*{email}"/>
                    </tr>
                    <tr>
                        <td class="register"><label>Contraseña:</label></td>
                        <td><input class="alargar" type="password" th:field="*{password}" placeholder="Contraseña"/></td>
                    </tr>
                    <tr class="tdError" th:if="${#fields.hasErrors('password')}">
                    	<td class="tdError"/>
                    	<td class="tdError" th:errors="*{password}"/>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Entrar" class="button2"/></td>
						<td><input th:replace="templates :: botonRestablecer"/></td>
                    </tr>
                </table>
			</form>
        </div>
        <div th:replace="templates :: footer1"/>
    </body>
</html>
