<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
        <div class="content1">
            <h1>Login</h1>
            <form method="POST" action="" th:action="@{/login}" th:object="${login}">
                <table class="table">
                    <tr>
                    	<td class="register"><label>Email:</label></td>
                        <td><input type="text" th:field="*{email}" pattern="\w+" placeholder="email" maxlength="20"/></td>
                    </tr>
                    <tr>
                        <td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                    </tr>
                    <tr>
                        <td class="register"><label>Password:</label></td>
                        <td><input type="password" th:field="*{password}" placeholder="password"/></td>
                        <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" -->
                        <td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Log in " class="button2"/></td>
						<td><input th:replace="templates :: botonRestablecer"/></td>
                    </tr>
                </table>
			</form>
        </div>
        <div th:replace="templates :: footer1"/>
    </body>
</html>
