<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
        <div class="content1">
            <h1>Iniciar sesión</h1>
            <form method="POST" action="" th:action="@{/login}" th:object="${login}">
                <table class="table">
                    <tr>
                    	<td class="register"><label>Usuario:</label></td>
                        <td> <input type="text" th:field="*{email}" pattern="\w+" placeholder="Usuario" maxlength="20" class="estatico"/> 
                        <a class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/></td>
                    </tr>
                    <tr>
                        <td class="register"><label>Contraseña:</label></td>
                        <td><input type="password" th:field="*{password}" placeholder="password"/>
                        <a class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Entrar" class="button2"/></td>
						<td><input th:replace="templates :: botonRestablecer"/></td>
                    </tr>
                </table>
			</form>
        </div>
        <div th:replace="templates :: footer1"/>
    </body>
</html>
