<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <head th:replace="templates :: head"/>
    <body>
    
        <div th:replace="templates :: header"/>
        <div class="about">
            <h1>Política de privacidad</h1>
            <p class="p">
				<br/>Al usar nuestros servicios, usted acepta automáticamente nuestra Política de privacidad.
				
				<br/><br/>La información que elija proporcionarnos NUNCA SERÁ REVELADA a terceros.
				
				<br/><br/>NO divulgaremos su identidad a nadie, sin SU CONSENTIMIENTO EXPRESO o sin una ORDEN JUDICIAL.
			</p>
            <p class="privacyText">
            	Siempre que utilice nuestros servicios, nuestro objetivo es brindarle acceso a su información personal.
				Si esa información no es correcta, nos esforzamos por proporcionarle formas de eliminarla o actualizarla rápidamente, a menos que tengamos que mantener esa información por motivos comerciales o legales legítimos.
				Al actualizar su información personal, podemos solicitarle que verifique su identidad para que podamos procesar su solicitud.

				<br/><br/>Podemos rechazar solicitudes que son más repetitivas que razonables, que requieren un esfuerzo técnico desproporcionado (por ejemplo, desarrollar un nuevo sistema o cambiar radicalmente una práctica existente),
				que ponen en peligro la privacidad de otros usuarios o que no son prácticos (por ejemplo, solicitudes que hacen referencia a información almacenada en sistemas de respaldo).
				
				<br/><br/>Cuando podamos ofrecerle la posibilidad de acceder a sus datos personales y modificarlos, lo haremos de forma gratuita, a menos que requiera un esfuerzo desproporcionado.
				Al proporcionar nuestros servicios, protegeremos sus datos para que no puedan ser eliminados accidental o intencionalmente.
				Por esta razón, incluso si elimina sus datos de nuestros servicios, no podemos destruir inmediatamente las copias residuales almacenadas en nuestros servidores activos o los datos almacenados en nuestros sistemas de seguridad.
			</p>
			<p class="privacyText">
				Encriptamos muchos de nuestros servicios. Revisamos nuestra política sobre recopilación de datos, almacenamiento y procesamiento, incluidas medidas de seguridad física, para evitar el acceso no autorizado a nuestros sistemas.
			</p>
			<p class="privacyText">
				Nuestra Política de Privacidad se aplica a todos los servicios ofrecidos por 'SAPE', pero excluye aquellos servicios que están sujetos a políticas de privacidad independientes que no incorporan esta Política de Privacidad.
				
				<br/><br/>Nuestra Política de privacidad no se aplica a los servicios prestados por otras empresas o personas, incluidos productos o sitios que pueden mostrarse en los resultados de búsqueda.
			</p>
			<p class="privacyText">
				Nuestra política de privacidad puede ser modificada en cualquier momento.
				No limitaremos sus derechos bajo esta Política de Privacidad sin su consentimiento expreso.
				Publicaremos todas las modificaciones a esta Política de privacidad en esta página y, si son significativas, realizaremos una notificación más notoria (por ejemplo, le enviaremos una notificación por correo electrónico si la modificación afecta ciertos servicios).
				Además, archivaremos las versiones anteriores de esta Política de privacidad para que pueda consultarlas.
			</p>
        </div>
        <div th:replace="templates :: footer"/>
    </body>
</html>
