<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
        <div class="about">
            <h1>Privacy Policy</h1>
            <p class="p">
				<br/>By using our services, you automatically accept our Privacy Policy.
				
				<br/><br/>The information you choose to provide us WILL NEVER BE DISCLOSED to third parties.
				
				<br/><br/>We will NOT disclose your identity to anyone, without YOUR EXPRESS CONSENT or without a COURT ORDER.
			</p>
            <p class="privacyText">
            	Whenever you use our services, our goal is to provide you with access to your personal information. 
				If that information is not correct, we strive to provide you with ways to eliminate or update it quickly, unless we have to maintain that information for legitimate business or legal reasons.
				By updating your personal information, we may ask you to verify your identity so we can process your request.

				<br/><br/>We may reject requests that are more repetitive than reasonable, requiring a disproportionate technical effort (for example, developing a new system or radically changing an existing practice), 
				that endanger the privacy of other users or that are not practical (for example, requests that refer to information stored in backup systems).
				
				<br/><br/>When we can offer you the possibility to access your personal data and modify them, we will do it for free, unless it requires a disproportionate effort.
				By providing our services, we will protect your data so that they can not be accidentally or intentionally disposed of.
				For this reason, even if you delete your data from our services, we may not immediately destroy the residual copies stored on our active servers or the data stored in our security systems.
			</p>
			<p class="privacyText">
				We encrypt many of our services. We review our policy on data collection, storage and processing, including physical security measures, to prevent unauthorized access to our systems.
			</p>
			<p class="privacyText">
				Our Privacy Policy applies to all services offered by 'Skill Sharing' but excludes those services that are subject to independent privacy policies that do not incorporate this Privacy Policy.
				
				<br/><br/>Our Privacy Policy does not apply to services provided by other companies or individuals, including products or sites that may be displayed in search results.
			</p>
			<p class="privacytext">
				Our Privacy Policy may be modified at any time.
				We will not limit your rights under this Privacy Policy without your express consent.
				We will post all modifications to this Privacy Policy on this page and, if they are significant, we will make a more noticeable notification (for example, we will send you an email notification if the modification affects certain services).
				In addition, we will archive the previous versions of this Privacy Policy so that you can consult them.
			</p>
        </div>
        <div th:replace="templates :: footer"/>
    </body>
</html>
