<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
        <title>SAPE</title>
    </head>
    
    <div class="header" th:fragment="header">
    <p></p>
    	<div class = "logo">	
    	<a href="/" th:href="@{/}">
    		<img src="/css/sape.png" alt="Skill Sharing" class="image"/>
    	</a>
    	</div>
    
    </div>
    
     
    
    <div id="menu" th:fragment="menuCoordinador">
        <div th:replace="templates :: header"/>
   		<ul>
	   		<a href="/offers/pending" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Oferta pendientes</p>
	   		</li>
	   		</a>
	   		<a href="/assignments/pending" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Asignaci&oacute;n</p>
	   		</li>
	   		</a>
	   		<a href="/offers" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Ofertas aceptadas</p>
	   		</li>
	   		</a>
	   		<a href="/companies" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Empresas</p>
	   		</li>
	   		</a>
	   		<a href="/teachers" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Tutores</p>
	   		</li>
	   		</a>
   		</ul>
 		<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
   	</div>
   	
   	<div id="menu" th:fragment="menuEmpresa">
   	    <div th:replace="templates :: header"/>
		<ul>
	   		<a href="/offers" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Ofertas </p>
	   		</li>
	   		</a>
	   		<a href="/offers/add" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Crear Oferta</p>
	   		</li>
	   		</a>
	   		<a href="/contactPersons" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Personas de contacto</p>
	   		</li>
	   		</a>
   		</ul>
		<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
   	</div>
    
    <div id="menu" th:fragment="menuEstudiante">
   	    <div th:replace="templates :: header"/>
		<ul>
	   		<a href="/offers" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Ofertas</p>
	   		</li>
	   		</a>
	   		<a href="/offerPreferences" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Preferencias</p>
	   		</li>
	   		</a>
	   		<a href="/assignments" class="menu">
	   		<li>
	   		<div class="barra"></div>
	   		<p class ="menu" style="color:white;">Asignacion</p>
	   		</li>
	   		</a>
   		</ul>
		<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
   	</div>
    
    <div class="footer" th:fragment="footer">
		<p>&copy; EI102717BGM &#8226; All rights reserved &#8226; <a href="/privacy" class="footer_links">Privacy Policy</a> &#8226; <a href="/about" class="footer_links">About</a> &#8226; <a href="/contact" class="footer_links">Contact</a></p>
    </div>
    <div class="footer1" th:fragment="footer1">
		<p>&copy; EI102717BGM &#8226; All rights reserved &#8226; <a href="/privacy" class="footer_links">Privacy Policy</a> &#8226; <a href="/about" class="footer_links">About</a> &#8226; <a href="/contact" class="footer_links">Contact</a></p>
    </div>
</html>
