<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <head th:fragment="head">
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
        <title>SAPE</title>
    </head>
    
    <div class="header" th:fragment="header">
    <p></p>
    	<div class = "logo">	
    	<a href="/" th:href="@{/}">
    		<img src="/css/sape.png" alt="Skill Sharing" class="image"/>
    	</a>
    	</div>
    
    </div>
    
    <div id="menu" th:fragment="menuCoordinador">
        <div th:replace="templates :: header"/>
        <!--  <div th:text="${'Bienvenido ' + username}"/>-->
   		<ul>
	   		<a href="/offers/pending" class="menu">
	   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Oferta pendientes</p>
		   		</li>
	   		</a>
	   		<a href="/assignments/pending" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Asignar Alumno</p>
		   		</li>
	   		</a>
	   		
	   		<a href="/offers" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Ofertas aceptadas</p>
		   		</li>
	   		</a>
	   		<a href="/assignments" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Asignaciones</p>
		   		</li>
	   		</a>
	   		<a href="/companies" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Empresas</p>
		   		</li>
	   		</a>
	   		<a href="/teachers" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Tutores</p>
		   		</li>
	   		</a>
   		</ul>
 		<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
   	</div>
   	
   	<div id="menu" th:fragment="menuEmpresa">
   	    <div th:replace="templates :: header"/>
		<ul>
	   		<a href="/offers" class="menu">
	   			<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Ofertas </p>
		   		</li>
	   		</a>
	   		<a href="/offers/add" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Crear Oferta</p>
		   		</li>
	   		</a>
	   		<a href="/contactPersons" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Personas de contacto</p>
		   		</li>
	   		</a>
   		</ul>
		<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
   	</div>
    
    <div id="menu" th:fragment="menuAlumno">
   	    <div th:replace="templates :: header"/>
		<ul>
	   		<a href="/offers" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Ofertas</p>
		   		</li>
	   		</a>
	   		<a href="/offerPreferences" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Preferencias</p>
		   		</li>
	   		</a>
	   		<a href="/assignments" class="menu">
		   		<li>
		   		<div class="barra"></div>
		   		<p class ="menu" style="color:white;">Asignacion</p>
		   		</li>
	   		</a>
   		</ul>
		<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
   	</div>
   	
   	<input type="reset" value="Restablecer" class="button2" onclick="return confirm('¿Quieres restablecer los campos?')" th:fragment="botonRestablecer"/>
   	
   	<div th:fragment="listaPeticionCambios">
   		<div th:each="currPetition : ${petitions}">
   			<!-- TODO: Usar "nombre" en vez de "email" (Aun no esta en la BBDD) -->
   			
   			<h1 th:text="${currPetition.usuario.email + ' @ ' + currPetition.fecha}"/>
   			
   			<h2 th:text="${currPetition.textoPeticion}"/>
   			<h2>------------------------------</h2>
   		</div>
   	</div>
    
    <div class="footer" th:fragment="footer">
		<p>&copy; EI102717BGM &#8226; All rights reserved &#8226; <a href="/privacy" class="footer_links">Política de privacidad</a> &#8226; <a href="/about" class="footer_links">Acerda de</a> &#8226; <a href="/contact" class="footer_links">Contacto</a></p>
    </div>
</html>
