<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
    	<div id="menu">
    		 <div th:replace="templates :: header"/>
    		<ul>
    		<li>
    		<div class="barra"></div>
    		<p class ="menu" style="color:white;">Ofertas pendientes</p>
    		</li>
    		<li>
    		<div class="barra"></div>
    		<p class ="menu" style="color:white;">Asignaci&oacute;n</p>
    		</li>
    		<li>
    		<div class="barra"></div>
    		<p class ="menu" style="color:white;">Ofertas aceptadas</p>
    		</li>
    		<li>
    		<div class="barra"></div>
    		<p class ="menu" style="color:white;">Empresas</p>
    		</li>
    		
    		</ul>
    			<div class="botonS"><a class="salir" href="/logout">Cerrar Sesi&oacute;n</a></div>
    	</div>
    	
    	<div class="content1">
			<h1>List of offers</h1>
			<form method="POST" action="/offerPrefs" th:action="@{/offerPrefs}" th:object="${offersSelection}">
				<table class="list">
					<tr>
						<th></th>
						<th>Numero</th>
						<th>Tarea</th>
						<th>Objetivo</th>
						<th>Estado</th>
						<th>Itinerario</th>
						<th>FechaAlta</th>
						<th>FechaUltimoCambio</th>
						<th colspan="2">Action</th>
					</tr>
					<tr th:each="currOffer : ${offers}">
						<td><input type="checkbox" th:field="*{selectedOffers}" th:value="${currOffer.id}"/></td>
						<td th:text="${currOffer.numero}"/>
						<td th:text="${currOffer.tarea}"/>
						<td th:text="${currOffer.objetivo}"/>
						<td th:text="${currOffer.estado.getName()}"/>
						<td th:text="${currOffer.itinerario}"/>
						<td th:text="${currOffer.fechaAlta}"/>
						<td th:text="${currOffer.fechaUltimoCambio}"/>
						<td><a th:href="@{/companies/{id}( id=${currOffer.id} )}">Ver empresa</a></td>
					</tr>
				</table>
				
			</form>
		</div>
    	
    
    </body>
</html>
