<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1>List of offers</h1>
			<table class="list">
				<tr>
					<th>Titulo</th>
					<th>Empresa</th>
					<th>FechaAlta</th>
					<th>FechaUltimoCambio</th>
					<th>Accion</th>
				</tr>
				<tr th:each="currOffer : ${offers}">
					<td th:text="${currOffer.titulo}"/>
					<td th:text="${currOffer.empresa.nombre}"/>
					<td th:text="${currOffer.fechaAlta}"/>
					<td th:text="${currOffer.fechaUltimoCambio}"/>
					<td><a th:href="@{/offers/{id}( id=${currOffer.id} )}">Ver oferta</a></td>
				</tr>
			</table>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
