<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuCoordinador"/>
		<div class="content1">
			<h1>Lista de ofertas pendientes</h1>
			<table class="list"
			 th:if="${!pendingOffers.isEmpty()}">
				<tr>
					<th>Titulo</th>
					<th>Empresa</th>
					<th>FechaAlta</th>
					<th>FechaUltimoCambio</th>
					<th>Acción</th>
				</tr>
				<tr th:each="currOffer : ${pendingOffers}">
					<td th:text="${currOffer.titulo}"/>
					<td th:text="${currOffer.empresa.nombre}"/>
					<td th:text="${currOffer.fechaAlta}"/>
					<td th:text="${currOffer.fechaUltimoCambio}"/>
					<td><a th:href="@{/offers/{id}( id=${currOffer.id} )}">Ver oferta</a></td>
				</tr>
			</table>
			<div th:if="${pendingOffers.isEmpty()}">
				<h2>No hay ofertas pendientes...</h2>
			</div>
			
			<div th:if="${session.user.esSuperAdmin()}">
				<h1>Lista de ofertas a cancelar</h1>
				<table class="list"
				 th:if="${!cancelRequestedOffers.isEmpty()}">
					<tr>
						<th>Titulo</th>
						<th>Empresa</th>
						<th>FechaAlta</th>
						<th>Acción</th>
					</tr>
					<tr th:each="currOffer : ${cancelRequestedOffers}">
						<td th:text="${currOffer.titulo}"/>
						<td th:text="${currOffer.empresa.nombre}"/>
						<td th:text="${currOffer.fechaAlta}"/>
						<td><a th:href="@{/offers/{id}( id=${currOffer.id} )}">Ver oferta</a></td>
					</tr>
				</table>
				<div th:if="${cancelRequestedOffers.isEmpty()}">
					<h2>No hay ofertas a cancelar...</h2>
				</div>
			</div>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
