<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: menuEmpresa"/>
		<div class="content1">
			<h1 th:text="${action + ' offer'}"/>
			<form method="POST" th:action="@{/offers{target}( target=${target} )}" th:object="${offer}">
				<table class="table">
					<tr>
						<td class="register">Tarea</td>
						<td><input type="text" th:field="*{tarea}"/></td>
					</tr>
					<tr>
						<td class="register">Objetivo</td>
						<td><input type="text" th:field="*{objetivo}"/></td>
					</tr>
					<tr>
						<td class="register">Itinerario</td>
						<td><input type="text" th:field="*{itinerario}"/></td>
						<!-- Lo dejo por si nos interesa en un futuro usar Enums para los itinerarios
						<option th:each="currStatus : ${T(es.uji.ei1027.sape.enums.EstadoOferta).values()}"
								th:value="${currStatus}" th:text="${currStatus}"/>
						
						-->
					</tr>
					<tr>
						<td class="register">Persona de contacto</td>
						<td>
							<select th:field="*{idEstancia}">
								<option th:each="currContactPerson : ${contactPersons}"
										th:value="${currContactPerson.id}" th:text="${currContactPerson.personaContacto}"/>
							</select>
						</td>
					</tr>
					<tr>
						<td class="register"><input type="submit" th:value="${action + ' offer'}" class="button2"/></td>
						<td><input type="reset" value="Clear data" class="button2" onclick="return confirm('Do you want to clear your data?')"/></td>
					</tr>
				</table>
			</form>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
