<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
		<div class="content">
			<h1>List of offers</h1>
			<form method="POST" action="/offerPrefs" th:action="@{/offerPrefs}" th:object="${offersSelection}">
				<table class="list">
					<tr>
						<th></th>
						<th>Numero</th>
						<th>Tarea</th>
						<th>Objetivo</th>
						<th>Estado</th>
						<th>Itinerario</th>
						<th>FechaAlta</th>
						<th>FechaUltimoCambio</th>
						<th colspan="2">Action</th>
					</tr>
					<tr th:each="currOffer : ${offers}">
						<td><input type="checkbox" th:field="*{selectedOffers}" th:value="${currOffer.id}"/></td>
						<td th:text="${currOffer.numero}"/>
						<td th:text="${currOffer.tarea}"/>
						<td th:text="${currOffer.objetivo}"/>
						<td th:text="${currOffer.estado.getName()}"/>
						<td th:text="${currOffer.itinerario}"/>
						<td th:text="${currOffer.fechaAlta}"/>
						<td th:text="${currOffer.fechaUltimoCambio}"/>
						<td><a th:href="@{/companies/{id}( id=${currOffer.id} )}">Ver empresa</a></td>
					</tr>
				</table>
				<input type="submit" value="Añadir preferencias" class="button2"/>
			</form>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
