<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
		<div class="content">
			<h1>List of offers</h1>
			<table class="list">
				<tr>
					<th>Tarea</th>
					<th>Empresa</th>
					<th>Objetivo</th>
					<th>Itinerario</th>
					<th>FechaAlta</th>
					<th>FechaUltimoCambio</th>
				</tr>
				<tr th:each="currOffer : ${offers}">
					<td th:text="${currOffer.tarea}"/>
					<td th:text="${currOffer.empresa.nombre}"/>
					<td th:text="${currOffer.objetivo}"/>
					<td th:text="${currOffer.itinerario}"/>
					<td th:text="${currOffer.fechaAlta}"/>
					<td th:text="${currOffer.fechaUltimoCambio}"/>
				</tr>
			</table>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
