<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates :: head"/>
    <body>
        <div th:replace="templates :: header"/>
		<div class="content">
			<h1>Crear peticion</h1>
			<table class="table">
				<tr>
					<td>Tarea</td>
					<td th:text="${offer.tarea}"/>
				</tr>
				<tr>
					<td>Empresa</td>
					<td th:text="${offer.empresa.nombre}"/>
				</tr>
				<tr>
					<td>Objetivo</td>
					<td th:text="${offer.objetivo}"/>
				</tr>
				<tr>
					<td>Itinerario</td>
					<td th:text="${offer.itinerario}"/>
				</tr>
			</table>
			<form method="POST" th:action="@{/offers{target}( target=${target} )}" th:object="${petition}">
				<table class="table">
					<tr>
						<td class="register">Texto</td>
						<td><textarea th:field="*{textoPeticion}"/></td>
					</tr>
					<tr>
						<td class="register"><input type="submit" value="Enviar peticion" class="button2"/></td>
						<td><input type="reset" value="Clear data" class="button2" onclick="return confirm('Do you want to clear your data?')"/></td>
					</tr>
				</table>
			</form>
		</div>
        <div th:replace="templates :: footer"/>
	</body>
</html>
